html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: $ff-primary;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  background-color: $bg-color;
  color: $text-color;
  position: relative;
}
.no-scroll {
  overflow: hidden;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $text-color;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  &--slider {
    padding: 0;
  }
}

.btn {
  border: 1px solid transparent;
  background-color: $primary-color;
  padding: 4px 20px;
  margin: 5px 0;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: $text-color;
  transition: all 0.2s;
}
.btn:hover {
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  color: $text-color;
}
form {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    margin-bottom: 12px;
    font-family: $ff-primary;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 5px;
    border: 2px solid transparent;
    &:focus {
      border: 2px solid $secondary-color;
    }
    &:active {
      border: 2px solid $secondary-color;
    }
  }
  input[type=checkbox] {
    margin-right: 8px;
    margin-bottom: 5px;
  }
  label{
    width: 100%;
    font-size: 10px;
    line-height: 12px;
    display: flex;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
