@import "_vars";
@import "_libs";
@import "_fonts";
@import "_global";

.main__wrapper {
  height: 100vh;
}
// HEADER

.header {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 130px;
    height: 100%;
  }
  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: $text-color;
    &::after {
      content: "";
      display: inline-block;
      width: 9px;
      height: 13px;
      background-image: url("../img/lock.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 10px;
    }
    &:focus{outline-color: $text-color;}
    &:active{outline-color: $text-color;}
    &:hover{
      text-decoration: underline;
    }
  }
  &__nav {
    align-self: flex-end;
  }
}
.nav-list {
  @include reset-list;

  display: flex;
  &__sub-section {
    @include reset-list;

    display: none;
  }
  li + li {
    margin-left: 27px;
  }
  &__item {
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    line-height: 24px;
    color: $text-color;
    text-transform: uppercase;
    transition: all 0.2s;
    margin-bottom: 12px;
    &--active {
      font-weight: bold;
      color: $secondary-color;
    }
    &:hover{
      color: $secondary-color;
    }
  }
}

// FOOTER
.footer {
  padding: 30px 0 12px 0;
  &__top{
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 15px;
  }
  &__item{
    max-width: 210px;
    width: 100%;
    padding: 5px;
    &-title{
      font-family: $ff-second;
      font-size: 14px;
      line-height: 24px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    &-text{
      font-size: 12px;
      line-height: 18px;
    }
    &--form{
      max-width: 194px;
    }
  }
  &__form{
    &-input{
      width: 100%;
      margin-bottom: 12px;
      font-family: $ff-primary;
      font-size: 14px;
      line-height: 18px;
      padding: 7px 6px;
      border: none;
    }
    &-label{
      width: 100%;
      font-size: 10px;
      line-height: 12px;
      display: flex;
    }
    &-check{
      margin-right: 8px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__social {
    &-link {
      margin-right: 10px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.contacts-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-right: 15px;
    font-size: 12px;
    line-height: 24px;
  }
}

.lang-list {
  @include reset-list;

  display: flex;
  &__item {
    padding-left: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
  li + li {
    margin-left: 10px;
    border-left: 1px solid $text-color;
  }
}
// MEDIA
@import "_media";
